@import "variables";

.footer {
  background-color: $light-grey;
  width: 100%;
  border-radius: 15px;

  .footer-container {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-top: 4px $separator-grey solid;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 100%;

    @media (max-width: 1500px) {
      max-width: 94%;
    }

    @media (max-width: 992px) {
      width: 100%;
      padding-top: 20px;
      flex-direction: column;
      align-items: center;
      height: 375px;
      justify-content: unset;
    }

    .footer-contacts {
      display: flex;
      flex-direction: column;

      .address {
        margin-bottom: 22px;
      }
      .contacts {
        .mail-link {
          color: $blue;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
        }
      }

      .address, .contacts {
        display: flex;
        align-items: center;

        @media (max-width: 500px) {
          flex-direction: column;
        }

        &-text {
          line-height: 19px;
          color: $blue-black;

          @media (max-width: 500px) {
            margin-bottom: 10px;
          }
        }

        .link {
          text-decoration: none;

          .map-link {
            text-transform: uppercase;
            color: $blue;
            font-size: 12px;
            line-height: 14px;
            font-weight: 700;
            margin-left: 47px;
            position: relative;

            @media (max-width: 500px) {
              margin: 0;
            }

            &:before {
              content: "";
              background-color: rgba(179, 179, 186, 1);
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
              margin-right: 10px;
              left: -15px;
              top: 4px;
              @media (max-width: 992px) {
                display: none;
              }
            }
          }
        }

        .navbar-phone {
          color: #46466E;
          line-height: 19px;
          margin-right: 26px;
          margin-left: 17px;

          @media (max-width: 500px) {
            margin-bottom: 20px;
            margin-top: 20px;
          }

          &:before {
            background-color: $grey;
            left: -10px;
            top: 7px;
          }

          &:after {
            background-color: $grey;
            right: -15px;
            top: 7px;
          }
        }
      }
    }
    .company-info {
      .text {
        text-align: start;
        color: $grey;
        font-size: 16px;
        line-height: 19px;

        @media (max-width: 992px) {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
  .no-border {
    border: none;
  }
}

.no-border-radius {
  border-radius: 0;
}