.navbar {
    position: absolute;
    width: 100%;
    margin: 50px 0;
    padding: 0;

    @media (max-width: 992px) {
        padding: 20px;
        margin: 0;
    }

    &-nav {
        .nav-item {
            .nav-link {
                color: white;
                font-size: 18px;
            }
        }
    }

    .navbar-toggler {
        border: 0;

        &-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        &:focus {
            box-shadow: none;
        }

        @media (max-width: 992px) {
            order: 3;
            padding: 0;
        }
        @media (max-width: 300px) {
            font-size: 18px;
        }
    }

    &-language {
        display: flex;

        @media (max-width: 992px) {

        }

        &-item {
            font-size: 12px;
            color: white;
            letter-spacing: 1px;
            font-weight: 700;
            text-decoration: none;
            padding: 5px 6px;
            border-radius: 8px;

            @media (max-width: 992px) {
                color: #B3B3BA;
            }
            &.active {
                color: white;
                background-color: $red;
            }
        }
    }

    .navbar-container {
        flex-wrap: wrap;
        padding: 0;
    }

    &-brand {
        order: 1;

        @media (max-width: 992px) {
            order: 2;
            & img {
                width: 77px;
            }
        }
    }

    &-top {
        order: 2;
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: auto;
        align-items: center;

        @media (max-width: 992px) {
            order: 1;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }

    &-collapse {
        order: 3;
        margin-top: -40px;

        @media (max-width: 992px) {
            text-align: right;
            margin: 0;
        }
    }

    &-address, &-phone {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        position: relative;

        @media (max-width: 992px) {
            margin: 0;
            color: #B3B3BA;
        }
    }
    &-phone  {
        font-weight: 700;
        text-decoration: none;
        text-align: right;

        &:hover {
            color: black;
        }

        @media (max-width: 300px) {
            font-size: 12px;
        }
    }
    &-phone:before {
        content: "";
        background-color: #E6E6F0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 9px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &-phone:after {
        content: "";
        background-color: #E6E6F0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        right: -15px;
        top: 9px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &-social {
        margin-left: 15px;
    }

    @media (max-width: 992px) {
        &-address, &-social {
            display: none;
        }
    }
}

.second-page {
    .navbar {
        position: static;

        &-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .nav-link {
            color: $blue;

            &:hover {
                color: $red;
                text-decoration: underline;
            }
        }
    }

    .navbar-top {
        width: 57%;
        @media (max-width: 992px) {
             width: 100%;
        }
        a, p {
            color: $grey;
        }
        .navbar-language {
            .active {
                color: white;
            }
        }
    }

    .navbar-brand {

        @media (max-width: 1280px) {
            font-size: 19px;
        }

    }

    .navbar-brand-more {
        font-size: 38px;

        &:before, &:after {
            content: "";
            background-image: url(../images/slash.svg);
            display: inline-block;
            width: 21px;
            height: 46px;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        &:after {
            content: "";
            background-image: url(../images/symbol.svg);
            width: 41px;
        }
        @media (max-width: 1160px) {
            font-size: 30px;
        }
        @media (max-width: 992px) {
            font-size: 19px;

            &:before, &:after {
                height: 25px;
            }
            &:before {
                width: 10px;
            }
        }
        @media (max-width: 300px) {
                display: block;
        }
    }
}