@import "mixin";

.team-section {
  width: 100%;
  text-align: justify;

  .container {
    padding: 0;
    @media (max-width: 575px) {
      padding: 0 20px;
    }
  }

  & .header {
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    width: 930px;
    height: auto;
    margin: 0 auto;
    font-size: 42px;
    @include fluid-type(32px, 42px);
    @include fluid-line-height(38px, 50px);
    margin-bottom: 80px;

    @media (max-width: 992px) {
      max-width: 100%;
      height: auto;
      margin-bottom: 50px;
    }
    @media (max-width: 375px) {
      margin-bottom: 20px;
    }
  }
  & .row {

  }
  & .team-members {
    justify-content: space-around;
    & .team-item {
      margin-bottom: 20px;

      @media (max-width: 992px) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &-photo {
        img {
          border-radius: 12px;
        }
      }
      &-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;

        @media (max-width: 1200px) {
          width: 413px;
        }
        @media (max-width: 992px) {
          flex-direction: column;
          margin-left: 20px;
          justify-content: space-around;
          align-self: flex-end;
        }

        .text {

          .name {
            color: #323264;
            font-size: 18px;
            @media (max-width: 992px) {
              margin: 0;
              margin-bottom: 5px;
            }
          }
          .position {
            color: #B3B3BA;
            font-size: 16px;
            @media (max-width: 992px) {
              margin: 0;
            }
          }
        }
        .open-btn {
          @media (max-width: 992px) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}