* {
    font-family: 'Poppins', sans-serif;
}

.form-label.required:after {
    content: "*";
    color: red;
}

.main-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 18%;
    margin: 1%;
    justify-content: flex-end;
}

.mini-inputs {
    display: flex;
    justify-content: space-between;
}

button {
    background-image: url("../images/25665-4-upload-button-transparent-background.png");
    width: 100px;
    height: 40px;
    background-size: contain;
    border: 0;
    background-repeat: no-repeat;
    background-color: unset;
    padding: 0;
}

input::placeholder {
    color: black;
}

select {
    border-radius: 5px;
    border-bottom: 2px lightgrey solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    height: 40px;
    padding: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-text-input {
    border-radius: 5px;
    border-bottom: 2px lightgrey solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-label {
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.vehicle-mini-input-content {
    width: 30%;
}

.vehicle-mini-input {
    width: 100%;
}

.driver-selection {
    background-color: #eff1f6;
    color: #c0bebe;
}

.registration-mini-input-content {
    width: 45%;
}

.registration-mini-input {
    width: 100%;
}

input:focus-visible {
    outline: 0;
}

.form-line {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

h4 {
    font-weight: 400;
}

.input-with-checkbox {
    position: relative;
    width: 100%;
}

.input-with-checkbox__checkbox {
    position: absolute;
    top: 30%;
}

.input-with-checkbox__text {
    padding-left: 30px;
    background-color: #eff1f6;
    color: black;
    width: 100%;
}

.input-with-checkbox__text::-webkit-input-placeholder {
    color: #c0bebe;
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

@media (max-width: 800px) {
    .form-container {
        width: 45%;
        margin: 1% 2% 1% 2%;
    }
}

