* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    /*margin-bottom: 100px;*/
    position: relative;
    margin: 0 auto;
}

.intro-sect {
    margin-top: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
}

.navbar-list {
    display: flex;
    gap: 42px;
}

.navbar-list a {
    text-decoration: none;
    color: #323232;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: 500;
    transition: .3s;
}

.navbar-list a:hover {
    background-color: #ffdca5;
}

.navbar-list .active {
    font-weight: 700;
    color: #F78434;
}

.row {
    display: flex;
}

.col {
    max-width: 50%;
}

.main-heading {
    font-size: 54px;
    line-height: 1.5;
    margin-top: 127px;
    width: 640px;
    position: relative;
    z-index: 1;
}

.text {
    line-height: 1.5;
    position: relative;
    z-index: 1;
    text-align: justify;
}

.intro-img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    animation: intro-img-scale 6s 2 1s;
    transform-origin: 100% 50%;
    overflow: hidden;
}

@keyframes intro-img-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn {
    background-color: #F78434;
    font-weight: 700;
    color: white;
    font-size: 16px;
    display: inline-block;
    padding: 20px 37px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    transition: .3s;
    z-index: 1;
}

.btn:hover {
    background-color: #ffd67f;
    color: black;
}

.intro-form .btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.intro-form-input {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.intro-form-text {
    border: none;
    padding: 20px 0 20px 50px;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
    width: 100%;
    outline: none;
    background-image: url("../images/mail_icon.svg");
    background-position: 20px 50% ;
    background-repeat: no-repeat;
}

.intro-form {
    position: relative;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    margin-top: 10%;
}

/*.mail-logo {*/
/*    position: absolute;*/
/*    left: 2%;*/
/*    top: 50%;*/
/*    transform: translate(0, -50%);*/
/*}*/

.company-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.company-item {
    margin-bottom: 30px;
}

.provide-sect {
    margin-top: 30px;
}

.provide-sect .container {
    margin: 0 auto;
}

.provide-block-img {
    margin-left: 30px;
}

.provide-block-images {
    height: 550px;
    overflow: hidden;
    justify-content: flex-end;
    position: relative;
}

.provide-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 100px;

}

.provide-popup {
    background-image: url("../images/provide_popup_icon.svg");
    background-color: white;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 32%;
    bottom: 50px;
    padding: 25px 5px 25px 80px;
    z-index: 1;
    width: 250px;
    border-radius: 15px;
    height: 120px;
}

h5 {
    margin: 0;
}

.provide-popup p {
    margin: 0;
}

.btn-no-stretch {
    align-self: flex-start;
    transition: .3s;
    margin-top: 30px;
}

.btn-no-stretch:hover {
    background-color: #ffd67f;
    color: black;
}

.product-sect {
    margin-top: 50px;
}

.product-block {
    background-image: url("../images/product_bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 90px;
    border-radius: 20px;
}

.product-block-img {
    position: absolute;
    top: 60px;
    left: -300px;
}

.product-block-text {
    margin-left: 60%;
}

.product-buttons-container {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.product-buttons-container .btn {
    width: 40%;
}

.btn-watch-now::before {
    content: url("../images/watch_now_icon.svg");
    padding-right: 10px;
}

.btn-watch-now {
    background-color: white;
    font-weight: 700;
    color: black;
    font-size: 16px;
    display: inline-block;
    padding: 20px 37px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    white-space: nowrap;
    transition: .3s;
}

.btn-watch-now:hover {
    background-color: rgba(255, 227, 183, 0.97);
}

.heading {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.serve-sect {
    margin-top: 130px;
}

.serve-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.serve-header {
    text-align: center;
    margin-bottom: 50px;
}

.serve-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buyers-block {
    flex-direction: column;
    width: 49%;
    background-color: #F78434;
    border-radius: 8px;
    color: white;
    padding: 40px;
    text-align: center;
}

.buyers-block .btn {
    margin-top: 20px;
    background-color: white;
    color: #F78434;
}

.buyers-block .btn:hover {
    background-color: #ffd67f;
    color: black;
}

.seller-block {
    flex-direction: column;
    width: 49%;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
}

.seller-block .btn {
    margin-top: 20px;
}

.choose-sect {
    margin-top: 120px;
}

.choose-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.choose-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.choose-item {
    width: 23%;
    padding: 20px;
}

.testimonial-sect {
    margin-top: 120px;
}

.testimonial-block {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 90px;
}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.testimonial-header h2 {
    width: 48%;
    margin: 0;
}

.testimonial-header p {
    width: 38%;
}

.testimonial-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial-item {
    position: relative;
    width: 30%;
    line-height: 1.5;

}

.element {
    position: absolute;
    top: -40px;
    right: -26px;
}

.testimonial-text {
    padding: 20px;
}

.testimonial-profile {
    padding: 0 20px;
    margin-top: 20px;
}

.testimonial-profile h3,p {
    margin: 0;
}

.testimonial-profile p {
    color: #58BEBF;
}

.feedback-video {
    max-width: 100%;
    display: block;
    margin: auto;
}

.experience-sect {
    position: relative;
    background-image: url("../images/experience-bg.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 210px 0 55px;
    margin-top: 60px;
    overflow: hidden;
}

.experience-img {
    position: absolute;
    bottom: -45px;
    left: 48%;
}

.experience-sect .container {
    margin-bottom: 0;
    position: static;
}

 .experience-text {
     max-width: 360px;
     margin-left: 15px;
 }

 .experience-text .btn {
     margin-top: 30px;
 }

.footer-main {
    padding: 85px 0;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-col:first-of-type {
    width: 20%;
    margin-right: 15%;
}

.footer-col h3 {
    margin-top: 0;
}

.footer-col p {
    line-height: 2.5;
}

.social-links-item {
    display: inline-block;
    margin-right: 30px;
    font-size: 23px;
}

.social-links-facebook {
    color: #4267B2;
}
 .social-links-twitter {
     color: #1DA1F2;
 }

.social-links-youtube {
    color: #ff0000;
}

.social-links-linkedin {
    color: #006699;
}

@media (max-width: 900px) {
    * {
        font-size: 20px;
    }
    .main-heading {
        font-size: 25px;
        width: 95%;
    }
    .heading {
        font-size: 30px;
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .col {
        width: 100%;
        min-width: 100%;
        margin-bottom: 5%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        margin-top: 20px;
    }
    .company-logo {
        display: flex;
        flex-wrap: wrap;
        margin: 2% 5% 2% 5%;
        align-items: center;
    }
    .provide-sect .container {
        margin: 0 1%;
    }
    .provide-block-images {
        display: flex;
        flex-direction: column;
        overflow: visible;
        justify-content: center;
        height: max-content;
    }
    .provide-block-img {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        display: block;
        max-width: 100%;
    }
    .provide-block-text {
        padding: 0;
    }
    .provide-block-text h2{
        margin-bottom: 35px;
    }
    .provide-block-text p:first-of-type {
        margin-bottom: 25px;
    }
    .container {
        position: static;
        margin: 0 1%;
    }
    .provide-popup {
        display: none;
    }
    .btn-no-stretch {
        align-self: center;
    }
    .intro-img {
        transform-origin: 50% 50%;
    }
    .experience-text {
        text-align: center;
    }
    .serve-main-container {
        flex-direction: column;
    }
    .buyers-block {
        width: 100%;
    }
    .seller-block {
        margin-top: 30px;
        width: 100%;
    }
    .choose-main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .choose-item {
        width: 250px;
        padding: 0;
        margin-bottom: 40px;
    }
    .testimonial-header {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    .testimonial-header h2,p {
        margin-bottom: 20px;
        width: 100%;
    }
    .testimonial-header p {
        width: 100%;
    }
    .testimonial-main-container {
        flex-direction: column;
    }
    .testimonial-item:last-child {
        margin-bottom: 0;
    }
    .testimonial-item {
        width: 100%;
        margin-bottom: 60px;
    }
    .testimonial-img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
    .testimonial-text {
        text-align: center;
    }
    .testimonial-profile {
        margin: 5px;
    }
    .element {
        display: none;
    }
    .footer-row {
        flex-wrap: wrap;

    }
    .footer-col:first-of-type {
        width: 190px;
        margin: 0;
    }
    .footer-col:first-of-type p {
        text-align: left;
    }
    .footer-col:first-of-type img {
        margin-left: -7px;
    }
    .footer-col {
        width: 190px;
        padding: 0;
    }
    .footer-col p {
        font-size: 15px;
        margin: 0.5px;
        /*line-height: 0;*/
    }
    .footer-col h3 {
        margin-bottom: 15px;
    }
    .footer-col:last-of-type {
        margin-top: 50px;
    }
    .social-links-item {
        margin-right: 15px;
    }
}



@media (max-width: 1024px) {
    .product-block-img {
        position: static;
        max-width: 100%
    }
    .product-block {
        padding: 30px;
    }
    .product-block-text {
        margin: 30px 0 0;
        text-align: center;
    }
    .experience-img {
        /*position: static;*/
        max-width: 700px;
        margin-top: 40px;
    }
    .experience-sect .container {
        display: flex;
        flex-direction: column;
    }
    .testimonial-block {
        margin: 0 2%;
    }
    .element {
        display: none;
    }
    .testimonial-main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .testimonial-item:last-child {
        margin-top: 50px;
    }
    .testimonial-item {
        width: min-content;
    }
    .footer-col:first-of-type {
        width: 25%;
    }
    .feedback-video {
        max-width: none;
    }
}

@media (max-width: 800px) {
    .testimonial-item:last-child {
        margin-top: 0;
    }
    .testimonial-item {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .product-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .product-buttons-container .btn {
        width: 100%;
        margin-bottom: 20px;
    }
    .btn-watch-now {
        width: 100%;
        text-align: center;
    }
    .company-logo {
        flex-direction: column;
    }
    .testimonial-main-container {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .intro-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .intro-form .btn {
        position: static;
        transform: none;
        margin-top: 15px;
    }
    .intro-form-input {
        /*position: relative;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin-bottom: 20px;*/
    }
}

@media (max-width: 580px) {
    .experience-img {
        display: none;
    }
}

@media (max-width: 400px) {
    .choose-item {
        width: 100%;
        margin-bottom: 35px;
    }
    .choose-item h3 {
        margin: 8px;
    }

}

@media (max-width: 450px) {
    .footer-main {
        padding: 50px 0;
    }
    .footer-row {
        flex-direction: column;
        text-align: center;
    }
    .footer-col {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-col:first-of-type {
        width: 100%;
        margin-bottom: 50px;
    }
    .footer-col:first-of-type p {
        text-align: center;
    }
    .footer-col:last-of-type {
        margin: 0;
    }
}