body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
}

.navbar-list {
    display: flex;
    gap: 42px;
}

.navbar-list a {
    text-decoration: none;
    color: #323232;
}

.navbar-list .active {
    font-weight: 700;
    color: #F78434;
}
.row {
    display: flex;
}

.col {
    max-width: 50%;
}

.main-heading {
    font-size: 54px;
    line-height: 1.5;
    margin-top: 127px;
    width: 640px;
    position: relative;
}

.text {
    line-height: 1.5;
}

.intro-img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.btn {
    background-color: #F78434;
    font-weight: 700;
    color: white;
    font-size: 16px;
    display: inline-block;
    padding: 16px 37px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.intro-form-text {
    border: none;
    padding: 16px 0 16px 40px;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
    width: 90%;
}

.intro-form {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
}

.mail-logo {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
}

.company-logo {
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
}

@media (max-width: 900px) {
    * {
        font-size: 15px;
    }
    .main-heading {
        font-size: 35px;
        width: 90%;

    }

    .row {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 5% 0 5%;
    }
    .col {
        width: 100%;
        min-width: 100%;
        margin-bottom: 5%;
    }
    .navbar-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .company-logo {
        display: flex;
        flex-wrap: wrap;
        margin: 2% 5% 2% 5%;
    }
    .container {
        max-width: 90%;
    }
}